[submodule ".emacs.d/elisp/rinari"]
  path = .emacs.d/elisp/rinari
  url = git://github.com/eschulte/rinari.git
[submodule ".emacs.d/elisp/rhtml-mode"]
  path = .emacs.d/elisp/rhtml-mode
  url = git://github.com/eschulte/rhtml.git
[submodule ".emacs.d/elisp/yasnippets-rails"]
  path = .emacs.d/elisp/yasnippets-rails
  url = git://github.com/eschulte/yasnippets-rails.git
[submodule ".emacs.d/elisp/emoji"]
  path = .emacs.d/elisp/emoji
  url = git://github.com/imakado/emoji.git
[submodule ".emacs.d/elisp/egg"]
  path = .emacs.d/elisp/egg
  url = git://github.com/bogolisk/egg.git
[submodule ".emacs.d/elisp/git-emacs"]
  path = .emacs.d/elisp/git-emacs
  url = git://github.com/tsgates/git-emacs.git
[submodule ".emacs.d/elisp/magit"]
  path = .emacs.d/elisp/magit
  url = git://gitorious.org/magit/mainline.git
[submodule ".emacs.d/elisp/undo-tree"]
  path = .emacs.d/elisp/undo-tree
  url = http://www.dr-qubit.org/git/undo-tree.git
[submodule ".emacs.d/elisp/auto-complete"]
  path = .emacs.d/elisp/auto-complete
  url = http://cx4a.org/repo/auto-complete.git
