[submodule ".emacs.d/elisp/yasnippets-rails"]
  path = .emacs.d/elisp/yasnippets-rails
  url = git://github.com/eschulte/yasnippets-rails.git
[submodule ".emacs.d/elisp/scss-mode"]
	path = .emacs.d/elisp/scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule ".emacs.d/elisp/helm-descbinds"]
	path = .emacs.d/elisp/helm-descbinds
	url = git://github.com/emacs-helm/helm-descbinds.git
[submodule ".emacs.d/elisp/git-modes"]
	path = .emacs.d/elisp/git-modes
	url = https://github.com/magit/git-modes
