.emacs.d/anything-c-adaptive-history
tmp
*.elc
.emacs.d/session.*
.emacs.d/.session
.emacs.d/**/ac-comphist.dat
.emacs.d/**/network-security.data
.emacs.d/tramp
auto-save-list
.emacs.d/eshell
.emacs.d/url
.emacs.d/.cask
.emacs.d/ido.last
.emacs.d/recentf
.emacs.d/el-get
.emacs.d/elpa
.emacs.d/server
.emacs.d/elisp/custom.el
